In [5]:
#import txt file and convert txt to csv
import pandas as pd
import csv
filenametxt = "C:/Users/Tammy/data/test/testset.txt"
filenamecsv = "C:/Users/Tammy/data/test/testsetnew.csv"
with open(filenametxt, 'r') as in_file:
    stripped = (line.strip() for line in in_file)
    lines = (line.split(",") for line in stripped if line)
    with open(filenamecsv, 'w') as out_file:
        writer = csv.writer(out_file, delimiter=",")
        writer.writerow(())
        writer.writerows(lines)

In [6]:
# cretate correct names for columns
col_names = ['Created Date', 'Player ID', 'Payment Method', 'System Currency Amount', 'Number Deposit', 'Tx Direction In\Out', 'Country → Name Short En', 'Player → Registration Date']
df = pd.read_csv('testsetnew.csv', names=col_names)

In [7]:
df.head(20)

,Created Date,Player ID,Payment Method,System Currency Amount,Number Deposit,Tx Direction In\Out,Country → Name Short En,Player → Registration Date
0,Created Date,Player ID,Payment Method,System Currency Amount,Number,NaN,NaN,NaN
1,Deposit,Tx Direction In\Out,Country → Name Short En,Player → Registration,NaN,NaN,NaN,NaN
2,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-12-20T19:34:20.026,1481126,bankcard,13.1947,1,Deposit,Russian,NaN
4,Federation,2021-12-20T19:20:39.07,NaN,NaN,NaN,NaN,NaN,NaN
5,2021-12-22T05:39:10.851,1482157,bankcard,2.2912,1,Deposit,Russian,NaN
6,Federation,2021-12-22T05:26:48.633,NaN,NaN,NaN,NaN,NaN,NaN
7,2021-12-22T08:29:43.326,1482157,bankcard,33.3729,0,Withdraw,Russian,NaN
8,Federation,2021-12-22T05:26:48.633,NaN,NaN,NaN,NaN,NaN,NaN
9,2021-12-22T11:20:30.501,1482157,bankcard,3.6114,2,Deposit,Russian,NaN
10,Federation,2021-12-22T05:26:48.633,NaN,NaN,NaN,NaN,NaN,NaN
11,2021-12-24T18:49:21.019,1482157,bankcard,6.0060,3,Deposit,Russian,NaN
12,Federation,2021-12-22T05:26:48.633,NaN,NaN,NaN,NaN,NaN,NaN
13,2021-12-24T19:20:37.661,1482157,bankcard,6.6733,4,Deposit,Russian,NaN
14,Federation,2021-12-22T05:26:48.633,NaN,NaN,NaN,NaN,NaN,NaN
15,2021-12-26T13:05:08.888,1482157,bankcard,3.3259,5,Deposit,Russian,NaN
16,Federation,2021-12-22T05:26:48.633,NaN,NaN,NaN,NaN,NaN,NaN
17,2021-12-27T15:32:49.684,1485530,visa,50.0000,1,Deposit,Canada,2021-12-27T
18,15:10:07.597,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2021-12-27T15:58:04.749,1485530,visa,50.0000,2,Deposit,Canada,2021-12-27T

In [8]:
#drop extra rows
data_drop1 = df.drop(labels=[0,1,2], axis=0)

In [9]:
data_drop1.head(5)

,Created Date,Player ID,Payment Method,System Currency Amount,Number Deposit,Tx Direction In\Out,Country → Name Short En,Player → Registration Date
3,2021-12-20T19:34:20.026,1481126,bankcard,13.1947,1,Deposit,Russian,NaN
4,Federation,2021-12-20T19:20:39.07,NaN,NaN,NaN,NaN,NaN,NaN
5,2021-12-22T05:39:10.851,1482157,bankcard,2.2912,1,Deposit,Russian,NaN
6,Federation,2021-12-22T05:26:48.633,NaN,NaN,NaN,NaN,NaN,NaN
7,2021-12-22T08:29:43.326,1482157,bankcard,33.3729,0,Withdraw,Russian,NaN

In [10]:
#transform data

import numpy as np

X = data_drop1.iloc[:, :].values
Y = data_drop1.iloc[:, 0].values
Y1 = data_drop1.iloc[:,1].values

X = X.tolist()
Y = Y.tolist()
Y1 = Y1.tolist()
Z = []

for i in range(0,len(data_drop1),2):
    L = X[i]
    L.append(Y[i])
    L.append(Y[i+1])
    L.append(Y1[i])
    L.append(Y1[i+1])
    Z.append(L)

Z = np.array(Z, dtype=object)
df_new = pd.DataFrame(Z,index=None)
df_new.to_csv("test_new_drop1.csv")

In [11]:
#save temporary file
df1 = pd.read_csv("test_new_drop1.csv", )

In [12]:
df1.head(15)

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9,10,11
0,0,2021-12-20T19:34:20.026,1481126,bankcard,13.1947,1,Deposit,Russian,NaN,2021-12-20T19:34:20.026,Federation,1481126,2021-12-20T19:20:39.07
1,1,2021-12-22T05:39:10.851,1482157,bankcard,2.2912,1,Deposit,Russian,NaN,2021-12-22T05:39:10.851,Federation,1482157,2021-12-22T05:26:48.633
2,2,2021-12-22T08:29:43.326,1482157,bankcard,33.3729,0,Withdraw,Russian,NaN,2021-12-22T08:29:43.326,Federation,1482157,2021-12-22T05:26:48.633
3,3,2021-12-22T11:20:30.501,1482157,bankcard,3.6114,2,Deposit,Russian,NaN,2021-12-22T11:20:30.501,Federation,1482157,2021-12-22T05:26:48.633
4,4,2021-12-24T18:49:21.019,1482157,bankcard,6.0060,3,Deposit,Russian,NaN,2021-12-24T18:49:21.019,Federation,1482157,2021-12-22T05:26:48.633
5,5,2021-12-24T19:20:37.661,1482157,bankcard,6.6733,4,Deposit,Russian,NaN,2021-12-24T19:20:37.661,Federation,1482157,2021-12-22T05:26:48.633
6,6,2021-12-26T13:05:08.888,1482157,bankcard,3.3259,5,Deposit,Russian,NaN,2021-12-26T13:05:08.888,Federation,1482157,2021-12-22T05:26:48.633
7,7,2021-12-27T15:32:49.684,1485530,visa,50.0000,1,Deposit,Canada,2021-12-27T,2021-12-27T15:32:49.684,15:10:07.597,1485530,NaN
8,8,2021-12-27T15:58:04.749,1485530,visa,50.0000,2,Deposit,Canada,2021-12-27T,2021-12-27T15:58:04.749,15:10:07.597,1485530,NaN
9,9,2021-12-29T12:06:09.79,1482157,bankcard,3.9866,6,Deposit,Russian,NaN,2021-12-29T12:06:09.79,Federation,1482157,2021-12-22T05:26:48.633
10,10,2021-12-30T14:34:28.115,1482157,bankcard,1.5741,7,Deposit,Russian,NaN,2021-12-30T14:34:28.115,Federation,1482157,2021-12-22T05:26:48.633
11,11,2021-12-30T14:45:34.052,1482157,bankcard,1.3117,8,Deposit,Russian,NaN,2021-12-30T14:45:34.052,Federation,1482157,2021-12-22T05:26:48.633
12,12,2021-12-31T11:21:56.422,1482157,bankcard,1.3117,9,Deposit,Russian,NaN,2021-12-31T11:21:56.422,Federation,1482157,2021-12-22T05:26:48.633
13,13,2021-12-31T17:20:07.11,1485530,visa,50.0000,3,Deposit,Canada,2021-12-27T1,2021-12-31T17:20:07.11,5:10:07.597,1485530,NaN
14,14,2022-01-01T15:35:44.017,1487862,usdttrc20,10.0000,1,Deposit,United Arab,NaN,2022-01-01T15:35:44.017,Emirates,1487862,2022-01-01T15:14:25.16

In [13]:
#drop extra columns
df2 = df1.drop(columns=['8', '10'])

In [14]:
df2.head(10)

,Unnamed: 0,0,1,2,3,4,5,6,7,9,11
0,0,2021-12-20T19:34:20.026,1481126,bankcard,13.1947,1,Deposit,Russian,NaN,Federation,2021-12-20T19:20:39.07
1,1,2021-12-22T05:39:10.851,1482157,bankcard,2.2912,1,Deposit,Russian,NaN,Federation,2021-12-22T05:26:48.633
2,2,2021-12-22T08:29:43.326,1482157,bankcard,33.3729,0,Withdraw,Russian,NaN,Federation,2021-12-22T05:26:48.633
3,3,2021-12-22T11:20:30.501,1482157,bankcard,3.6114,2,Deposit,Russian,NaN,Federation,2021-12-22T05:26:48.633
4,4,2021-12-24T18:49:21.019,1482157,bankcard,6.0060,3,Deposit,Russian,NaN,Federation,2021-12-22T05:26:48.633
5,5,2021-12-24T19:20:37.661,1482157,bankcard,6.6733,4,Deposit,Russian,NaN,Federation,2021-12-22T05:26:48.633
6,6,2021-12-26T13:05:08.888,1482157,bankcard,3.3259,5,Deposit,Russian,NaN,Federation,2021-12-22T05:26:48.633
7,7,2021-12-27T15:32:49.684,1485530,visa,50.0000,1,Deposit,Canada,2021-12-27T,15:10:07.597,NaN
8,8,2021-12-27T15:58:04.749,1485530,visa,50.0000,2,Deposit,Canada,2021-12-27T,15:10:07.597,NaN
9,9,2021-12-29T12:06:09.79,1482157,bankcard,3.9866,6,Deposit,Russian,NaN,Federation,2021-12-22T05:26:48.633

In [15]:
#save temporary file
df_new_drop = pd.DataFrame(df2,index=None)
df_new_drop.to_csv("test_new_drop2.csv")

In [16]:
df_new_drop.head(10)

,Unnamed: 0,0,1,2,3,4,5,6,7,9,11
0,0,2021-12-20T19:34:20.026,1481126,bankcard,13.1947,1,Deposit,Russian,NaN,Federation,2021-12-20T19:20:39.07
1,1,2021-12-22T05:39:10.851,1482157,bankcard,2.2912,1,Deposit,Russian,NaN,Federation,2021-12-22T05:26:48.633
2,2,2021-12-22T08:29:43.326,1482157,bankcard,33.3729,0,Withdraw,Russian,NaN,Federation,2021-12-22T05:26:48.633
3,3,2021-12-22T11:20:30.501,1482157,bankcard,3.6114,2,Deposit,Russian,NaN,Federation,2021-12-22T05:26:48.633
4,4,2021-12-24T18:49:21.019,1482157,bankcard,6.0060,3,Deposit,Russian,NaN,Federation,2021-12-22T05:26:48.633
5,5,2021-12-24T19:20:37.661,1482157,bankcard,6.6733,4,Deposit,Russian,NaN,Federation,2021-12-22T05:26:48.633
6,6,2021-12-26T13:05:08.888,1482157,bankcard,3.3259,5,Deposit,Russian,NaN,Federation,2021-12-22T05:26:48.633
7,7,2021-12-27T15:32:49.684,1485530,visa,50.0000,1,Deposit,Canada,2021-12-27T,15:10:07.597,NaN
8,8,2021-12-27T15:58:04.749,1485530,visa,50.0000,2,Deposit,Canada,2021-12-27T,15:10:07.597,NaN
9,9,2021-12-29T12:06:09.79,1482157,bankcard,3.9866,6,Deposit,Russian,NaN,Federation,2021-12-22T05:26:48.633

In [17]:
#create names for columns
df_new_drop.columns=["0","Created Date","Player ID","Payment Method","System Currency Amount","Number Deposit","Tx Direction In\Out","Country → Name Short En","Player → Registration Date","9","11"]

In [18]:
df_new_drop.head(10)

,0,Created Date,Player ID,Payment Method,System Currency Amount,Number Deposit,Tx Direction In\Out,Country → Name Short En,Player → Registration Date,9,11
0,0,2021-12-20T19:34:20.026,1481126,bankcard,13.1947,1,Deposit,Russian,NaN,Federation,2021-12-20T19:20:39.07
1,1,2021-12-22T05:39:10.851,1482157,bankcard,2.2912,1,Deposit,Russian,NaN,Federation,2021-12-22T05:26:48.633
2,2,2021-12-22T08:29:43.326,1482157,bankcard,33.3729,0,Withdraw,Russian,NaN,Federation,2021-12-22T05:26:48.633
3,3,2021-12-22T11:20:30.501,1482157,bankcard,3.6114,2,Deposit,Russian,NaN,Federation,2021-12-22T05:26:48.633
4,4,2021-12-24T18:49:21.019,1482157,bankcard,6.0060,3,Deposit,Russian,NaN,Federation,2021-12-22T05:26:48.633
5,5,2021-12-24T19:20:37.661,1482157,bankcard,6.6733,4,Deposit,Russian,NaN,Federation,2021-12-22T05:26:48.633
6,6,2021-12-26T13:05:08.888,1482157,bankcard,3.3259,5,Deposit,Russian,NaN,Federation,2021-12-22T05:26:48.633
7,7,2021-12-27T15:32:49.684,1485530,visa,50.0000,1,Deposit,Canada,2021-12-27T,15:10:07.597,NaN
8,8,2021-12-27T15:58:04.749,1485530,visa,50.0000,2,Deposit,Canada,2021-12-27T,15:10:07.597,NaN
9,9,2021-12-29T12:06:09.79,1482157,bankcard,3.9866,6,Deposit,Russian,NaN,Federation,2021-12-22T05:26:48.633

In [19]:
#transform data
df_new_drop["Country → Name Short En"] = df_new_drop["Country → Name Short En"].apply(lambda x: x.replace("Russian", "Russian Federation"))
df_new_drop["Country → Name Short En"] = df_new_drop["Country → Name Short En"].apply(lambda x: x.replace("United Arab", "United Arab Emirates"))
df_new_drop["Country → Name Short En"] = df_new_drop["Country → Name Short En"].apply(lambda x: x.replace("Czech", "Czech Republic"))

In [20]:
df_new_drop.head(10)

,0,Created Date,Player ID,Payment Method,System Currency Amount,Number Deposit,Tx Direction In\Out,Country → Name Short En,Player → Registration Date,9,11
0,0,2021-12-20T19:34:20.026,1481126,bankcard,13.1947,1,Deposit,Russian Federation,NaN,Federation,2021-12-20T19:20:39.07
1,1,2021-12-22T05:39:10.851,1482157,bankcard,2.2912,1,Deposit,Russian Federation,NaN,Federation,2021-12-22T05:26:48.633
2,2,2021-12-22T08:29:43.326,1482157,bankcard,33.3729,0,Withdraw,Russian Federation,NaN,Federation,2021-12-22T05:26:48.633
3,3,2021-12-22T11:20:30.501,1482157,bankcard,3.6114,2,Deposit,Russian Federation,NaN,Federation,2021-12-22T05:26:48.633
4,4,2021-12-24T18:49:21.019,1482157,bankcard,6.0060,3,Deposit,Russian Federation,NaN,Federation,2021-12-22T05:26:48.633
5,5,2021-12-24T19:20:37.661,1482157,bankcard,6.6733,4,Deposit,Russian Federation,NaN,Federation,2021-12-22T05:26:48.633
6,6,2021-12-26T13:05:08.888,1482157,bankcard,3.3259,5,Deposit,Russian Federation,NaN,Federation,2021-12-22T05:26:48.633
7,7,2021-12-27T15:32:49.684,1485530,visa,50.0000,1,Deposit,Canada,2021-12-27T,15:10:07.597,NaN
8,8,2021-12-27T15:58:04.749,1485530,visa,50.0000,2,Deposit,Canada,2021-12-27T,15:10:07.597,NaN
9,9,2021-12-29T12:06:09.79,1482157,bankcard,3.9866,6,Deposit,Russian Federation,NaN,Federation,2021-12-22T05:26:48.633

In [21]:
df_new_drop.to_csv("test_new_drop3.csv")

In [26]:
# replace null values with " "
df_new_drop = df_new_drop.fillna('')

df_new_drop['concatenated'] = df_new_drop['Player → Registration Date'] +''+ df_new_drop['11']

df_new_drop.head(10)

,0,Created Date,Player ID,Payment Method,System Currency Amount,Number Deposit,Tx Direction In\Out,Country → Name Short En,Player → Registration Date,9,11,concatenated
0,0,2021-12-20T19:34:20.026,1481126,bankcard,13.1947,1,Deposit,Russian Federation,,Federation,2021-12-20T19:20:39.07,2021-12-20T19:20:39.07
1,1,2021-12-22T05:39:10.851,1482157,bankcard,2.2912,1,Deposit,Russian Federation,,Federation,2021-12-22T05:26:48.633,2021-12-22T05:26:48.633
2,2,2021-12-22T08:29:43.326,1482157,bankcard,33.3729,0,Withdraw,Russian Federation,,Federation,2021-12-22T05:26:48.633,2021-12-22T05:26:48.633
3,3,2021-12-22T11:20:30.501,1482157,bankcard,3.6114,2,Deposit,Russian Federation,,Federation,2021-12-22T05:26:48.633,2021-12-22T05:26:48.633
4,4,2021-12-24T18:49:21.019,1482157,bankcard,6.0060,3,Deposit,Russian Federation,,Federation,2021-12-22T05:26:48.633,2021-12-22T05:26:48.633
5,5,2021-12-24T19:20:37.661,1482157,bankcard,6.6733,4,Deposit,Russian Federation,,Federation,2021-12-22T05:26:48.633,2021-12-22T05:26:48.633
6,6,2021-12-26T13:05:08.888,1482157,bankcard,3.3259,5,Deposit,Russian Federation,,Federation,2021-12-22T05:26:48.633,2021-12-22T05:26:48.633
7,7,2021-12-27T15:32:49.684,1485530,visa,50.0000,1,Deposit,Canada,2021-12-27T,15:10:07.597,,2021-12-27T
8,8,2021-12-27T15:58:04.749,1485530,visa,50.0000,2,Deposit,Canada,2021-12-27T,15:10:07.597,,2021-12-27T
9,9,2021-12-29T12:06:09.79,1482157,bankcard,3.9866,6,Deposit,Russian Federation,,Federation,2021-12-22T05:26:48.633,2021-12-22T05:26:48.633

In [27]:
#drop extra columns
df_new = df_new_drop.drop(columns=['Player → Registration Date', '11'])

In [31]:
df_new.head(10)

,0,Created Date,Player ID,Payment Method,System Currency Amount,Number Deposit,Tx Direction In\Out,Country → Name Short En,9,concatenated
0,0,2021-12-20T19:34:20.026,1481126,bankcard,13.1947,1,Deposit,Russian Federation,Federation,2021-12-20T19:20:39.07
1,1,2021-12-22T05:39:10.851,1482157,bankcard,2.2912,1,Deposit,Russian Federation,Federation,2021-12-22T05:26:48.633
2,2,2021-12-22T08:29:43.326,1482157,bankcard,33.3729,0,Withdraw,Russian Federation,Federation,2021-12-22T05:26:48.633
3,3,2021-12-22T11:20:30.501,1482157,bankcard,3.6114,2,Deposit,Russian Federation,Federation,2021-12-22T05:26:48.633
4,4,2021-12-24T18:49:21.019,1482157,bankcard,6.0060,3,Deposit,Russian Federation,Federation,2021-12-22T05:26:48.633
5,5,2021-12-24T19:20:37.661,1482157,bankcard,6.6733,4,Deposit,Russian Federation,Federation,2021-12-22T05:26:48.633
6,6,2021-12-26T13:05:08.888,1482157,bankcard,3.3259,5,Deposit,Russian Federation,Federation,2021-12-22T05:26:48.633
7,7,2021-12-27T15:32:49.684,1485530,visa,50.0000,1,Deposit,Canada,15:10:07.597,2021-12-27T
8,8,2021-12-27T15:58:04.749,1485530,visa,50.0000,2,Deposit,Canada,15:10:07.597,2021-12-27T
9,9,2021-12-29T12:06:09.79,1482157,bankcard,3.9866,6,Deposit,Russian Federation,Federation,2021-12-22T05:26:48.633

In [42]:
#replace null values with correct values
df_new['9'] = df_new['9'].replace({'Federation': np.nan})
df_new['9'] = df_new['9'].replace({'Emirates': np.nan})
df_new['9'] = df_new['9'].replace({'Republic': np.nan})

In [47]:
df_new.head(10)

,0,Created Date,Player ID,Payment Method,System Currency Amount,Number Deposit,Tx Direction In\Out,Country → Name Short En,9,concatenated
0,0,2021-12-20T19:34:20.026,1481126,bankcard,13.1947,1,Deposit,Russian Federation,NaN,2021-12-20T19:20:39.07
1,1,2021-12-22T05:39:10.851,1482157,bankcard,2.2912,1,Deposit,Russian Federation,NaN,2021-12-22T05:26:48.633
2,2,2021-12-22T08:29:43.326,1482157,bankcard,33.3729,0,Withdraw,Russian Federation,NaN,2021-12-22T05:26:48.633
3,3,2021-12-22T11:20:30.501,1482157,bankcard,3.6114,2,Deposit,Russian Federation,NaN,2021-12-22T05:26:48.633
4,4,2021-12-24T18:49:21.019,1482157,bankcard,6.0060,3,Deposit,Russian Federation,NaN,2021-12-22T05:26:48.633
5,5,2021-12-24T19:20:37.661,1482157,bankcard,6.6733,4,Deposit,Russian Federation,NaN,2021-12-22T05:26:48.633
6,6,2021-12-26T13:05:08.888,1482157,bankcard,3.3259,5,Deposit,Russian Federation,NaN,2021-12-22T05:26:48.633
7,7,2021-12-27T15:32:49.684,1485530,visa,50.0000,1,Deposit,Canada,15:10:07.597,2021-12-27T
8,8,2021-12-27T15:58:04.749,1485530,visa,50.0000,2,Deposit,Canada,15:10:07.597,2021-12-27T
9,9,2021-12-29T12:06:09.79,1482157,bankcard,3.9866,6,Deposit,Russian Federation,NaN,2021-12-22T05:26:48.633

In [48]:
#transform data

df_new = df_new.fillna('')

df_new['Player → Registration Date'] = df_new['concatenated'] +''+ df_new['9']

df_new.head(10)

,0,Created Date,Player ID,Payment Method,System Currency Amount,Number Deposit,Tx Direction In\Out,Country → Name Short En,9,concatenated,Player → Registration Date
0,0,2021-12-20T19:34:20.026,1481126,bankcard,13.1947,1,Deposit,Russian Federation,,2021-12-20T19:20:39.07,2021-12-20T19:20:39.07
1,1,2021-12-22T05:39:10.851,1482157,bankcard,2.2912,1,Deposit,Russian Federation,,2021-12-22T05:26:48.633,2021-12-22T05:26:48.633
2,2,2021-12-22T08:29:43.326,1482157,bankcard,33.3729,0,Withdraw,Russian Federation,,2021-12-22T05:26:48.633,2021-12-22T05:26:48.633
3,3,2021-12-22T11:20:30.501,1482157,bankcard,3.6114,2,Deposit,Russian Federation,,2021-12-22T05:26:48.633,2021-12-22T05:26:48.633
4,4,2021-12-24T18:49:21.019,1482157,bankcard,6.0060,3,Deposit,Russian Federation,,2021-12-22T05:26:48.633,2021-12-22T05:26:48.633
5,5,2021-12-24T19:20:37.661,1482157,bankcard,6.6733,4,Deposit,Russian Federation,,2021-12-22T05:26:48.633,2021-12-22T05:26:48.633
6,6,2021-12-26T13:05:08.888,1482157,bankcard,3.3259,5,Deposit,Russian Federation,,2021-12-22T05:26:48.633,2021-12-22T05:26:48.633
7,7,2021-12-27T15:32:49.684,1485530,visa,50.0000,1,Deposit,Canada,15:10:07.597,2021-12-27T,2021-12-27T15:10:07.597
8,8,2021-12-27T15:58:04.749,1485530,visa,50.0000,2,Deposit,Canada,15:10:07.597,2021-12-27T,2021-12-27T15:10:07.597
9,9,2021-12-29T12:06:09.79,1482157,bankcard,3.9866,6,Deposit,Russian Federation,,2021-12-22T05:26:48.633,2021-12-22T05:26:48.633

In [49]:
#drop extra columns
df_new_clean = df_new.drop(columns=['9', 'concatenated'])
df_new_clean.head(10)

,0,Created Date,Player ID,Payment Method,System Currency Amount,Number Deposit,Tx Direction In\Out,Country → Name Short En,Player → Registration Date
0,0,2021-12-20T19:34:20.026,1481126,bankcard,13.1947,1,Deposit,Russian Federation,2021-12-20T19:20:39.07
1,1,2021-12-22T05:39:10.851,1482157,bankcard,2.2912,1,Deposit,Russian Federation,2021-12-22T05:26:48.633
2,2,2021-12-22T08:29:43.326,1482157,bankcard,33.3729,0,Withdraw,Russian Federation,2021-12-22T05:26:48.633
3,3,2021-12-22T11:20:30.501,1482157,bankcard,3.6114,2,Deposit,Russian Federation,2021-12-22T05:26:48.633
4,4,2021-12-24T18:49:21.019,1482157,bankcard,6.0060,3,Deposit,Russian Federation,2021-12-22T05:26:48.633
5,5,2021-12-24T19:20:37.661,1482157,bankcard,6.6733,4,Deposit,Russian Federation,2021-12-22T05:26:48.633
6,6,2021-12-26T13:05:08.888,1482157,bankcard,3.3259,5,Deposit,Russian Federation,2021-12-22T05:26:48.633
7,7,2021-12-27T15:32:49.684,1485530,visa,50.0000,1,Deposit,Canada,2021-12-27T15:10:07.597
8,8,2021-12-27T15:58:04.749,1485530,visa,50.0000,2,Deposit,Canada,2021-12-27T15:10:07.597
9,9,2021-12-29T12:06:09.79,1482157,bankcard,3.9866,6,Deposit,Russian Federation,2021-12-22T05:26:48.633

In [50]:
#save clean data to csv file
df_new_clean.to_csv("test_new_clean.csv")